<div class="left-container">
    <div class="left-bar">
        <div class="presentation">
            <div class="entete">
                <i class="fa-solid fa-layer-group"></i>
                <p class="app-name">Polyclinic Fultang</p>
            </div>
            
            <div class="about">
                <div class="welcome-image">
                    <div>
                    </div>
                </div>
                <div class="grade">
                    <!-- <p>welcome</p> -->
                    <p><%=user.specialite %></p>
                </div>
            </div>
        </div>

        <div class="navigation">
            <div class="nav-title">
                <p>MAIN NAVIGATION</p>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/fulltang/V0/doctor/dashboard"><i class="fas fa-chart-line"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="/fulltang/V0/doctor/patient-list"><i class="fas fa-calendar-alt"></i>Rendez-vous List</a>
                    </li>
                    <li>
                        <a href="/fulltang/V0/doctor/patient-list"><i class="fas fa-clipboard-list"></i>consultation List</a>
                    </li>
                    <li>
                        <a href="/fulltang/V0/doctor/consultation_history"><i class="fas fa-history"></i>consultation History</a>
                    </li> 
                    <li>
                        <!-- <div class="outside"> -->
                            <a href="/fulltang/V0/deconnexion" id="deconnexion"><i class="fa-solid fa-right-from-bracket"></i>Signout</a>
                        <!-- </div> -->
                    </li>  
                </ul>
            </nav>
        </div>
    </div>

</div>