<div class="left-container">
    <div class="left-bar">
        <div class="presentation">
            <div class="entete">
                <i class="fa-solid fa-layer-group"></i>
                <p class="app-name">Polyclinic Fultang</p>
            </div>
            
            <div class="about">
                <div class="welcome-image">
                    <div>
                    </div>
                </div>
                <div class="grade">
                    <!-- <p>welcome</p> -->
                    <p>Adiministrator</p>
                    
                </div>
            </div>
        </div>

        <div class="navigation">
            <div class="nav-title">
                <p>MAIN NAVIGATION</p>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/fulltang/V0/administrator/dashboard"><i class="fas fa-tachometer-alt"></i> <!-- Icône du dashboard -->Dashboard</a>
                    </li>
                    <li>
                        <a href="/fulltang/V0/administrator/patient-list"><i class="fas fa-user"></i> <!-- Icône de personnel --></i>Patients</a>
                    </li>
                    <li>
                        <a href="/fulltang/V0/administrator/consultation_history"><i class="fas fa-calendar-check"></i> <!-- Icône de personnel --></i>Liste des consultation</a>
                    </li>
                    <li>
                        <a href="/fulltang/V0/administrator/consultation_historyRDV"><i class="fas fa-calendar-day"></i> <!-- Icône de personnel --></i>Liste des rendez-vous a venir</a>
                    </li>
                    <li class="section">
                        <a><i class="fas fa-user"></i> <!-- Icône de personnel --></i>Personnel</a>
                        <ul>
                            <li><a href="/fulltang/V0/administrator/personnel-list"><i class="fa-solid fa-users"></i>Personnel List</a></li>
                            <li><a href="/fulltang/V0/administrator/add_personnel"><i class="fas fa-plus-circle"></i> <!-- Icône d'ajout d'un personnel --></i>Add personnel</a></li>
                        </ul>
                    </li>
                    <li class="section">
                        <a><i class="fas fa-file-medical"></i> <!-- Icône des examens --></i>Examens</a>
                        <ul>
                            <li><a href="/fulltang/V0/administrator/examen_list"><i class="fas fa-list-alt"></i> <!-- Icône de la liste des examens --></i>Exams List</a></li>
                            <li><a href="/fulltang/V0/administrator/add_examen" ><i class="fas fa-plus-circle"></i> <!-- Icône d'ajout d'un examen --></i>Add Exams</a></li>
                        </ul>
                        
                    </li>
                    <li class="section">
                        <a><i class="fa-solid fa-pills"></i>Medicament</a>
                        <ul>
                            <li><a href="/fulltang/V0/administrator/medicament_list" ><i class="fas fa-pills"></i> <!-- Icône de la liste des médicaments -->Medicament List</a></li>
                            <li><a href="/fulltang/V0/administrator/add_medicament" ><i class="fas fa-plus-circle"></i> <!-- Icône d'ajout d'un medicament --></i>Add Medicament</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <!-- <div class="outside"> -->
                            <a href="/fulltang/V0/deconnexion" id="deconnexion" ><i class="fa-solid fa-right-from-bracket"></i>Signout</a>
                        <!-- </div> -->
                    </li>
                    
                </ul>
            </nav>
        </div>
    </div>

</div>